@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.header {
  padding: 4rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(35, 35, 35, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10rem;
  padding: 1rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
  border-radius: 10rem;
}
.header__middle a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #FDF9F0;
  padding: 0.8rem 1.6rem;
  height: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10rem;
}
.header__middle a.active {
  background-color: #1065EC;
}
.header__end .input-group {
  height: 4.8rem;
  background-color: #FDFBFC;
  border-radius: 10rem;
  padding: 0 1rem;
  width: 15rem;
}
.header__end .input-group-text {
  background-color: transparent;
  border: none;
}
.header__end input {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
}
.header__end input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.footer {
  position: relative;
  background-color: #fff;
  padding: 6rem 0;
}
.footer__row {
  border-bottom: 1px solid #3D3D3D;
  padding: 0 0 4rem;
}
.footer__row h3 {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 0 2.4rem;
  color: #000;
  font-family: "MyCustomFont", sans-serif !important;
}
.footer__list {
  margin: 0 0 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
}
.footer__list a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  display: block;
}
.footer__copy {
  margin: 4rem 0 0;
}
.footer__copy p {
  color: #676767;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.footer__social ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
}
.footer__social ul li {
  min-width: 21.1rem;
  border-radius: 0.6rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  list-style-type: none;
}
.footer__social ul li:nth-child(1) {
  background-color: #000;
}
.footer__social ul li:nth-child(2) {
  background-color: #1065EC;
}
.footer__social ul li:nth-child(3) {
  background-color: #6F6F6F;
}
.footer__social ul li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.footer__social ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 1.6rem;
}
.footer__social ul li a p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.footer__flex span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  margin: 4rem 0 0;
}
.footer__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  background-color: #000;
  border-radius: 8rem;
  padding: 1.6rem 2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #000;
  height: 6rem;
}
.footer__link a:hover {
  background-color: #fff;
}
.footer__link a:hover .footer__para p,
.footer__link a:hover .footer__para h4 {
  color: #000;
}
.footer__link a:hover:nth-child(2) .footer__icon img {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}
.footer__para p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  margin: 0 0 0.3rem;
}
.footer__para h4 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "MyCustomFont", sans-serif !important;
  margin: 0;
  color: #fff;
}

.footer__social ul:hover > li:not(:hover) {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  /* you can change the blur size */
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.footer__link:hover > a:not(:hover) {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../assets/font/font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif !important;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #141414 !important;
}

a {
  text-decoration: none !important;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.load-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.load-content span {
  color: #F6BD40;
  font-size: 4.8rem;
  font-family: "MyCustomFont", sans-serif !important;
}

.banner {
  min-height: 100vh;
  padding: 20rem 0 2rem;
  position: relative;
}
.banner__title {
  text-align: center;
}
.banner__title h1 {
  color: #fff;
  font-size: 8rem;
  font-weight: 400;
  margin: 0;
  font-family: "MyCustomFont", sans-serif !important;
  position: relative;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.banner__title h1 span {
  color: #F7C41F;
}
.banner__download {
  margin: 2rem 0;
}
.banner__download ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  gap: 2.4rem;
}
.banner__download ul li {
  list-style-type: none;
}
.banner__line {
  color: #232323;
  font-size: 2rem;
}
.banner__join {
  background-color: #000;
  border-radius: 10rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.banner__join a {
  background-color: #1065EC;
  border-radius: 10rem;
  font-size: 1.6rem;
  display: block;
  padding: 0.8rem 2.4rem;
  font-weight: 600;
  color: #fff;
}
.banner__join span {
  color: #FDF9F0;
  font-size: 1.6rem;
  font-weight: 500;
}
.banner__left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.banner__right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.banner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin: 2rem 0 0;
}

.workflow {
  background-color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.workflow__content {
  text-align: center;
}
.workflow__content span {
  color: #444342;
  font-size: 2.4rem;
  font-weight: 500;
  display: block;
  text-align: center;
}
.workflow__content h2 {
  color: #181927;
  font-size: 5rem;
  font-weight: 900;
  font-family: "MyCustomFont", sans-serif !important;
  margin: 2.4rem 0;
}
.workflow__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.workflow__img img {
  width: 8.6rem;
  height: 8.6rem;
}

.about {
  padding: 0 0 6rem;
  background-color: #fff;
}
.about__title span {
  color: #6F6F6F;
  font-size: 2.4rem;
  font-weight: 700;
  display: block;
  margin: 0 0 2.4rem;
}
.about__title h2 {
  color: #181927;
  font-size: 4rem;
  margin: 0;
  font-family: "MyCustomFont", sans-serif !important;
  text-align: center;
}
.about__bg {
  background-image: url(../assets/img/about.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 77rem;
  z-index: 3;
  position: relative;
}
.about__bg-content {
  height: 77rem;
  position: relative;
}
.about__content {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about__content span {
  color: #181927;
  font-size: 2rem;
  font-weight: 500;
  display: block;
  margin: 0 0 2.4rem;
}
.about__content h3 {
  color: #181927;
  font-size: 4rem;
  margin: 0 0 1.6rem;
  font-family: "MyCustomFont", sans-serif !important;
}

.service {
  padding: 6rem 0;
  background-color: #fff;
}
.service__title span {
  color: #6F6F6F;
  font-size: 2.4rem;
  font-weight: 700;
  display: block;
  margin: 0 0 2.4rem;
}
.service__title h2 {
  color: #181927;
  font-size: 4rem;
  margin: 0;
  font-family: "MyCustomFont", sans-serif !important;
  text-align: center;
}

.banner__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  opacity: 1 !important;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.workflow__content {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

#loader {
  position: fixed;
  inset: 0;
}

.load-para {
  text-align: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.load-para h4 {
  font-size: 8rem;
  color: #fff;
  margin: 0;
}
.load-para h4 span {
  color: #1065EC;
}

.load-para.show {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.load-content,
.load-para {
  display: none;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.load-content.show,
.load-para.show {
  display: block;
}/*# sourceMappingURL=style.css.map */