.we {
  padding: 20rem 0 10rem;
  overflow: hidden;

  @media #{$xs} {
    padding: 12rem 0 4rem;
  }

  &__title {
    h1 {
      color: #181927;
      font-size: 20rem;
      font-family: 'MyCustomFont', sans-serif !important;
      margin: 0;
      text-align: center;
      text-transform: uppercase;

      @media #{$xs} {
        font-size: 3.2rem;
        margin: 0 0 3rem;
      }
    }
  }

  &__head {
    text-align: center;
    margin: 0 0 8rem;

    h2 {
      color: #181927;
      font-size: 6rem;
      font-family: 'MyCustomFont', sans-serif !important;
      margin: 0 0 2.4rem;

      @media #{$xs} {
        font-size: 2.4rem;
      }
    }

    p {
      font-size: 2.4rem;
      font-weight: 600;
      margin: 0;
      color: #6F6F6F;

      @media #{$xs} {
        font-size: 1.4rem;
      }
    }
  }

  &__line {
    // background-color: #232323;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
    width: 100%;

    .marquee {
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      will-change: transform;

      span {
        font-size: 12rem;
        font-family: 'MyCustomFont', sans-serif !important;
        // padding-right: 4rem; // spacing between repeats
        color: #1065EC;
        line-height: 9rem;

        @media #{$xs} {
          font-size: 2.4rem;
        }

      }
    }

    .reverse {
      margin-top: 2rem; // gap between two lines
    }
  }


  &__row {
    padding: 6rem 0;
  }

  &__right {
    @media #{$xs} {
      margin: 2rem 0;
    }

    h3 {
      color: #181927;
      font-size: 4rem;
      font-family: 'MyCustomFont', sans-serif !important;

      @media #{$xs} {
        font-size: 2rem;
      }
    }

    p {
      color: #6F6F6F;
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0;

      @media #{$xs} {
        font-size: 1.4rem;
      }
    }
  }

  &__top-row {
    padding: 4rem 0 0;
  }

  &__content {
    @media #{$xs} {
      margin: 0 0 2rem;
    }

    h3 {
      color: #181927;
      font-size: 4rem;
      margin: 0 0 1rem;
      font-family: 'MyCustomFont', sans-serif !important;

      @media #{$xs} {
        font-size: 2rem;
      }
    }

    p {
      color: #6F6F6F;
      font-size: 2.4rem;
      font-weight: 500;
      margin: 0 0 4rem;

      @media #{$xs} {
        font-size: 1.4rem;
        margin: 0 0 2rem;
      }
    }

    a {
      color: #fff;
      background-color: #524EF4;
      height: 6rem;
      display: inline-flex;
      border-radius: 10rem;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 600;
      padding: 1rem 2.4rem;

      @media #{$xs} {
        font-size: 1.6rem;
        height: 3.8rem;
        padding: 1rem;
      }

    }
  }

  &__right-img {
    text-align: center;
  }
}

/* forward scroll */
.forward {
  animation: marquee-left 10s linear infinite;
}

/* reverse scroll */
.reverse {
  animation: marquee-right 10s linear infinite;

  span {
    color: transparent !important;
    -webkit-text-stroke: 2px #000000;
    text-stroke: 2px #000000;

  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

  /* shift by half width (2 copies) */
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}