.contact {
    padding: 20rem 0 10rem;

    @media #{$xs} {
        padding: 12rem 0 4rem;
    }

    @media #{$md} {
        padding: 12rem 0 4rem;
    }

    &__title {
        h1 {
            color: #ccc;
            font-size: 20rem;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 0;
            text-align: center;
            text-transform: uppercase;

            @media #{$xs} {
                font-size: 3.2rem;
                margin: 0 0 3rem;
            }

            @media #{$md} {
                font-size: 6rem;
                margin: 0 0 3rem;
            }

            @media #{$lg} {
                font-size: 8rem;
                margin: 0 0 3rem;
            }
        }
    }

    &__right {

        @media #{$xs} {
            margin: 4rem 0 0;
        }

        p {
            color: #6F6F6F;
            font-size: 2rem;
            font-weight: 600;
            margin: 0;

            @media #{$xs} {
                text-align: center;

            }
        }
    }

    &__box {
        box-shadow: 0px 0px 24px 0px #0000001A;
        background: #F6F6F6;
        padding: 3.2rem;
        margin: 2rem 0 0;

        @media #{$xs} {
            padding: 2rem;
        }
    }

    &__input {
        margin: 0 0 4.8rem;

        @media #{$xs} {
            margin: 0 0 2.4rem;
        }

        label {
            color: #000;
            font-size: 2rem;
            font-weight: 600;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }

        input,
        textarea {
            border: none;
            border-bottom: 1px solid #6F6F6F;
            font-size: 1.6rem;
            color: #000;
            font-weight: 600;
            background-color: transparent;
            border-radius: 0;

            &::placeholder {
                color: #6F6F6F;
            }

            &:focus {
                box-shadow: none;
                background-color: transparent;
                border-bottom: 1px solid #6F6F6F;

            }
        }
    }

    &__btn {
        button {
            background-color: #1065EC !important;
            border: none !important;
            height: 4.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff !important;
            padding: 1rem 3rem;
            border-radius: 0.6rem;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        height: 100%;

        @media #{$xs} {
            align-items: center;
        }
    }

    &__left-title {
        @media #{$xs} {
            text-align: center;
        }

        h3 {
            font-size: 3.2rem;
            color: #181927;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 0 0 0.6rem;
            text-transform: uppercase;

            @media #{$xs} {
                font-size: 1.6rem;
            }
        }

        p {
            color: #6F6F6F;
            font-size: 2rem;
            font-weight: 600;
            margin: 0;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            @media #{$xs} {
                gap: 2rem;
                margin: 3rem 0 0;
                align-items: center;
            }

            li {
                list-style-type: none;

                @media #{$xs} {
                    text-align: center;
                }

                h4 {
                    color: #181927;
                    font-size: 2.4rem;
                    font-family: 'MyCustomFont', sans-serif !important;
                    margin: 0 0 0.6rem;
                    text-transform: uppercase;

                    @media #{$xs} {
                        font-size: 1.6rem;
                    }

                }

                a {
                    font-size: 2rem;
                    font-weight: 600;
                    margin: 0;
                    display: block;
                    color: $primary;

                    @media #{$xs} {
                        font-size: 1.6rem;
                    }
                }

                p {
                    color: #6F6F6F;
                    font-size: 2rem;
                    font-weight: 600;
                    margin: 0;
                    display: flex;
                    max-width: 85%;

                    @media #{$xs} {
                        font-size: 1.4rem;
                        max-width: 100%;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    &__radio {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 0 0 4.8rem;

        @media #{$xs} {
            margin: 0 0 2rem;
        }

        label {
            color: #6F6F6F;
            font-size: 1.6rem;
            font-weight: 600;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }

        .form-check {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .form-check-input {
            height: 2rem;
            width: 2rem;
            border: 1px solid #6F6F6F;
            background-color: transparent;
        }
    }


}