.header {
    padding: 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

    @media #{$xs} {
        padding: 1rem;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        transition: max-width 0.4s ease; // smooth change
    }

    &.scrolled {
        padding: 1rem 2rem; // smaller padding on scroll

        .container {
            max-width: 50%; // shrink on scroll
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: rgba(35, 35, 35, 0.8);
        background-color: #000;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10rem;
        padding: 1rem 3rem;
        border: 1px solid rgba(255, 255, 255, 0.1);

        @media #{$xs} {
            padding: 1rem 1.4rem;
        }
    }

    &__logo {
        img {
            @media #{$xm} {
                width: 10rem;
            }
        }
    }

    &__middle {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        // background-color: #232323;
        padding: 1.2rem 1.6rem;
        border-radius: 10rem;

        a {
            font-size: 1.6rem;
            font-weight: 400;
            color: #FDF9F0;
            padding: 0.8rem 1.6rem;
            height: 3.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10rem;
        }

        a.active {
            // background-color: #1065EC;
            // color: #1065EC;
            // border-bottom: 0.1rem solid #1065EC;
            border-radius: 0;
            font-weight: 600;
        }

        @media #{$xm} {
            display: none;
        }
    }

    &__end {
        .input-group {
            height: 4.8rem;
            background-color: #FDFBFC;
            border-radius: 10rem;
            padding: 0 1rem;
            width: 15rem;
        }

        .input-group-text {
            background-color: transparent;
            border: none;
        }

        input {
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            font-weight: 500;
            color: #000;

            &:focus {
                box-shadow: none;
                background-color: transparent;
            }
        }

        a {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: #524EF4;
            height: 4.8rem;
            border-radius: 10rem;
            font-size: 1.8rem;
            font-weight: 600;
            color: #fff;
            white-space: nowrap;
            padding: 1.6rem 2.4rem;

            @media #{$xs} {
                height: 3.8rem;
                font-size: 1.4rem;
                padding: 2rem;
            }

            @media #{$xm} {
                display: none;
            }
        }

        button {
            display: none;
            background-color: transparent !important;
            border: none !important;

            img {
                width: 4rem;
            }



            @media #{$xm} {
                display: block;
            }
        }
    }
}

.offcanvas {
    background-color: #0E0C15 !important;
}

.menu {
    padding: 3rem;
    height: 100%;
    position: relative;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        img {
            width: 60%;
        }
    }

    &__list {
        margin: 4rem 0 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        a {
            font-size: 1.6rem;
            font-weight: 500;
            color: #fff;
        }
    }

    &__btn {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);

        a {
            background-color: #524EF4;

            display: inline-flex;
            align-items: center;
            gap: 0.8rem;
            padding: 1.2rem 2.4rem;
            border-radius: 10rem;
            justify-content: center;
            min-width: 27rem;
            color: #fff;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    &__close {
        button {
            all: unset !important;
            cursor: pointer !important;

            img {
                width: 3rem;
            }
        }
    }

}