@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "variables";
@import "contact";
@import "terms";
@import "articles";
@import "about";
@import "header";
@import "footer";

@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/font/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'MyCustomFont', sans-serif !important;
    font-family: "Quicksand", sans-serif !important;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #fff !important;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

.load-content {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
        color: #F6BD40;
        font-size: 4.8rem;
        font-family: 'MyCustomFont', sans-serif !important;

        @media #{$xs} {
            font-size: 2rem;
        }
    }

    img {
        @media #{$xs} {
            width: 10rem;
        }
    }
}

.banner__img {
    flex: 0 0 auto;
    opacity: 1 !important;
    transform: translateY(-200px);

}

.workflow__content {
    opacity: 0;
    transform: translateY(50px);
}

#loader {
    position: fixed;
    inset: 0;
    // overflow: hidden;
}

.load-para {
    text-align: center;
    transform: translateY(50px);

    h4 {
        font-size: 8rem;
        color: #fff;
        margin: 0;
        font-family: 'MyCustomFont', sans-serif !important;

        @media #{$xs} {
            font-size: 3rem;
        }


        span {
            color: #1065EC;
        }
    }
}

.load-para.show {
    transform: translateY(-50px);
}

.load-content,
.load-para {
    display: none;
    transition: opacity 0.8s ease;
}

.load-content.show,
.load-para.show {
    display: block;
}

.banner {
    min-height: 100vh;
    padding: 20rem 0 2rem;
    position: relative;
    background-color: #000;

    @media #{$xs} {
        padding: 12rem 0 2rem;
    }

    &__title {
        text-align: center;

        h1 {
            color: #fff;
            font-size: 7.2rem;
            font-weight: 400;
            margin: 0;
            font-family: 'MyCustomFont', sans-serif !important;
            position: relative;
            opacity: 1;
            transform: translateY(0);
            text-transform: uppercase;


            span {
                color: #F7C41F;
            }

            @media #{$xs} {
                font-size: 3.2rem;
            }
        }
    }

    &__download {
        margin: 2rem 0;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            gap: 2.4rem;

            @media #{$xs} {
                flex-direction: column;
            }

            li {
                list-style-type: none;
            }
        }
    }

    &__line {
        color: #232323;
        font-size: 2rem;
    }

    &__join {
        background-color: #000;
        border-radius: 10rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        a {
            background-color: #1065EC;
            border-radius: 10rem;
            font-size: 1.6rem;
            display: block;
            padding: 0.8rem 2.4rem;
            font-weight: 600;
            color: #fff;
        }

        span {
            color: #FDF9F0;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    &__left {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &__right {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 2rem 0 0;
    }

    &__img {
        img {
            width: 200px;
            height: 200px;

            @media #{$xs} {
                width: 6rem;
                height: 6rem;
            }
        }
    }
}

.workflow {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        text-align: center;

        span {
            color: #444342;
            font-size: 2.4rem;
            font-weight: 500;
            display: block;
            text-align: center;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }

        h2 {
            color: #181927;
            font-size: 5rem;
            font-weight: 900;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 2.4rem 0;

            @media #{$xs} {
                font-size: 1.8rem;
            }
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            width: 8.6rem;
            height: 8.6rem;
        }
    }
}

.about {
    padding: 0 0 6rem;
    background-color: #fff;

    &__title {
        span {
            color: #6F6F6F;
            font-size: 2.4rem;
            font-weight: 700;
            display: block;
            margin: 0 0 2.4rem;

            @media #{$xs} {
                font-size: 1.6rem;
            }
        }

        h2 {
            color: #181927;
            font-size: 4rem;
            margin: 0;
            font-family: 'MyCustomFont', sans-serif !important;
            text-align: center;

            @media #{$xs} {
                font-size: 2rem;
            }
        }
    }

    &__bg {
        background-image: url(../assets/img/about.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 77rem;
        z-index: 3;
        position: relative;
    }

    &__bg-content {
        height: 77rem;
        position: relative;

    }

    &__content {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
            color: #181927;
            font-size: 2rem;
            font-weight: 500;
            display: block;
            margin: 0 0 2.4rem;
        }

        h3 {
            color: #181927;
            font-size: 4rem;
            margin: 0 0 1.6rem;
            font-family: 'MyCustomFont', sans-serif !important;
        }
    }

    &__imgs {
        img {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 30%;
                width: 20rem;
                border-radius: 1.6rem;
            }

            &:nth-child(2) {
                position: absolute;
                right: 0;
                top: 5%;
                width: 31rem;
                border-radius: 1.6rem;
            }

            &:nth-child(3) {
                position: absolute;
                top: 20%;
                left: 0;
                width: 37rem;
                border-radius: 1.6rem;
            }

            &:nth-child(4) {
                position: absolute;
                right: 20%;
                bottom: 10%;
                width: 20rem;
                border-radius: 1.6rem;
            }

            &:nth-child(5) {
                position: absolute;
                bottom: 0%;
                left: 30%;
            }
        }

    }
}

.service {
    padding: 6rem 0;
    background-color: #fff;

    &__title {
        span {
            color: #6F6F6F;
            font-size: 2.4rem;
            font-weight: 700;
            display: block;
            margin: 0 0 2.4rem;
        }

        h2 {
            color: #181927;
            font-size: 4rem;
            margin: 0;
            font-family: 'MyCustomFont', sans-serif !important;
            text-align: center;

            @media #{$xs} {
                font-size: 2rem;
            }
        }
    }

    &__grid {
        margin: 4rem 0 0;
        position: relative;
        height: 45rem;
    }

    &__card {
        background-color: #232323;
        border-radius: 4rem;
        padding: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform-origin: top center;

        &:nth-child(1) {
            z-index: 0 !important;
        }
    }

    &__content {
        h3 {
            font-size: 6rem;
            margin: 0 0 4rem;
            font-family: 'MyCustomFont', sans-serif !important;
            color: #fff;
        }
    }

    &__tag {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 1.6rem;
            flex-wrap: wrap;

            li {
                list-style-type: none;
                background-color: #444342;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FDF9F0;
                font-size: 1.6rem;
                font-weight: 600;
                padding: 1rem 2.4rem;
                border-radius: 10rem;
            }
        }
    }

    &__end {
        margin: 2.4rem 0 0;
        display: flex;
        align-items: center;
        gap: 1.2rem;

        p {
            color: #FDF9F0;
            font-size: 1.6rem;
            font-weight: 600;
            margin: 0;
        }
    }

    &__img {
        img {
            width: 52rem;
            border-radius: 1.2rem;
        }
    }
}

.future {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 6rem 0;

    &__review {
        text-align: center;
        margin: 0 0 6rem;

        img {
            margin: 0 0 2.4rem;
        }

        p {
            font-size: 2.4rem;
            color: #181927;
            font-weight: 600;
            margin: 0;
        }
    }

    &__content {
        text-align: center;

        h2 {
            color: #181927;
            font-size: 6rem;
            margin: 0 0 1rem;
            font-family: 'MyCustomFont', sans-serif !important;
        }

        p {
            color: #181927;
            font-size: 2rem;
            font-weight: 600;
            margin: 0 0 4rem;
        }

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #524EF4;
            height: 6rem;
            border-radius: 10rem;
            font-size: 2.4rem;
            font-weight: 600;
            color: #fff;
            padding: 1.6rem 2.4rem;
        }
    }

    &__sec {
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-60%);

        @media #{$xs} {
            display: none;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-40%);

        @media #{$xs} {
            display: none;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

}

.movie {
    padding: 6rem 0;
    background-color: #fff;

    &__title {
        margin: 0 0 6rem;
        text-align: center;

        h2 {
            color: #181927;
            font-size: 4rem;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 0;

        }
    }

    &__search {
        flex: 1;

        .input-group {
            height: 4.4rem;
            background-color: #DDDDDD;
            border-radius: 10rem;
            padding: 0 1rem;
            width: 100%;
        }

        .input-group-text {
            background-color: transparent;
            border: none;
        }

        input {
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            font-weight: 500;
            color: #000;

            &:focus {
                box-shadow: none;
                background-color: transparent;
            }
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    &__radio {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        label {
            height: 4.4rem;
            border-radius: 2.7rem;
            padding: 1.2rem 1.6rem;
            background-color: #1065EC80 !important;
            font-size: 1.6rem;
            font-weight: 500;
            color: #fff !important;
            display: flex;
            align-items: center;
            justify-content: center;
            border-color: transparent;

        }

        .btn-check:checked+.btn,
        .btn.active,
        .btn.show,
        .btn:first-child:active,
        :not(.btn-check)+.btn:active {
            background-color: #1065EC !important;
            border-color: transparent;
        }
    }

    &__list {
        margin: 6rem 0 0;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;


            li {
                list-style-type: none;
                display: flex;
                align-items: center;
            }
        }
    }

    &__grid {
        border: 1px solid #181927;
        border-radius: 1rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        align-items: center;
        transition: all 200ms ease-in-out;

        cursor: pointer;

        &:hover {
            transform: translateY(-20px);
            background-color: #F7C41F;
        }
    }

    &__grid.active {
        transform: translateY(-20px);
        background-color: #F7C41F;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        span {
            color: #181927;
            font-size: 1.6rem;
            font-weight: 500;
            display: block;
        }

        p {
            color: #181927;
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0;
            writing-mode: vertical-rl;
            height: 20rem;
        }
    }

    &__cast {
        background-color: #D0D0D0;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 2.4rem;

        p {
            color: #000000;
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0;
        }
    }

    &__left.active {
        width: 550px;
        /* adjust as per design */
        opacity: 1;
        transform: translateX(0);
        padding: 0 2rem;

    }

    &__left {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateX(-20px);
        transition:
            width 0.4s ease,
            transform 0.4s ease,
            opacity 0.4s ease;
        display: flex;
    }
}

.work {
    padding: 6rem 0;
    background-color: #fff;

    &__grid {
        display: flex;
    }

    &__left {
        height: 100%;

        img {
            border-radius: 2.4rem 0 0 2.4rem;
            object-fit: cover;
        }
    }

    &__right {
        background-color: #000;
        padding: 3rem;
        border-radius: 0 2.4rem 2.4rem 0;

        span {
            color: #6F6F6F;
            font-size: 1.6rem;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0 0 1.6rem;
            display: block;
        }

        h3 {
            color: #fff;
            font-size: 4rem;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 0 0 1.6rem;
        }

        p {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0;
        }

        ul {
            margin: 4rem 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            li {
                list-style-type: none;
                display: flex;
                align-items: center;
                gap: 1.2rem;

                p {
                    margin: 0;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }

        a {
            background-color: #524EF4;
            border-radius: 10rem;
            height: 4.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.2rem 2.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;
            display: inline-block;
        }
    }

    &__banner {
        margin: 4rem 0 0;
    }
}

.branding {
    background-color: #fff;
    position: relative;
    min-height: 100vh;
    padding: 6rem 0 20rem;

    &__list {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            position: relative;

            li {
                list-style-type: none;
                border-bottom: 1px solid #6F6F6F;
                padding: 1.6rem 0;
                position: relative;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        justify-content: center;

        span {
            color: #6F6F6F;
            font-size: 2.4rem;
            display: block;
            font-family: 'MyCustomFont', sans-serif !important;

            @media #{$xs} {
                font-size: 1.6rem;
            }
        }

        h3 {
            font-size: 12rem;
            color: #676767;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 0;
            text-transform: uppercase;

            @media #{$xs} {
                font-size: 2rem;
            }
        }
    }

    &__content {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        height: 0;
        overflow: hidden;

        p {
            font-size: 2rem;
            font-weight: 500;
            color: #181927;
            margin: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;

        h5 {
            border: 1px solid #181927;
            border-radius: 10rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 2.4rem;
            color: #181927;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    &__para {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 5rem;
    }

    &__text {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);

        h3 {
            writing-mode: sideways-lr;
            background: linear-gradient(90deg, #524EF4 -36.11%, #FDFBFC 77.69%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 8rem;
            white-space: nowrap;
            font-family: 'MyCustomFont', sans-serif !important;
            text-transform: uppercase;

        }
    }
}

.review {
    padding: 12rem 0 6rem;
    background-color: #fff;
    overflow: hidden;

    &__title {
        margin: 0 0 6rem;

        h2 {
            color: #181927;
            font-size: 4rem;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 0;
            text-align: center;
        }
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 2.4rem;

            li {
                list-style-type: none;
                height: 41rem;
                width: 38rem;
                perspective: 1000px; // needed for 3D flip

                &:nth-child(odd) {
                    margin-top: 10rem;
                }

                &:nth-child(even) {
                    margin-bottom: 10rem;
                }

                .flip-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.8s ease;
                    transform-style: preserve-3d;
                }

                &:hover .flip-inner {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    &__front,
    &__back {
        position: absolute; // ensures both stack on top of each other
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 1.2rem;
    }

    /* Keep your existing front styles */
    &__front {
        position: relative;
        border-radius: 1.2rem;
    }

    /* Your back styles + flip position */
    &__back {
        box-shadow: 0px 0px 15px 0px #0000001A;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        padding: 2.4rem;
        height: 100%;
        transform: rotateY(180deg);

        p {
            color: #181927;
            font-weight: 600;
            font-size: 2.4rem;
            margin: 0;
        }
    }

    &__name {
        position: absolute;
        bottom: 1rem;
        left: 1rem;

        h3 {
            color: #fff;
            font-size: 2.4rem;
            font-weight: 600;
            margin: 0;
        }

        span {
            color: #fff;
            font-size: 2.4rem;
            font-weight: 600;
            margin: 0;
        }
    }

    &__end {

        h3,
        span {
            color: #181927;
            font-weight: 600;
            font-size: 2.4rem;
            margin: 0;
        }
    }

    &__img {
        img {
            max-width: 38rem;
        }
    }

}