@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "variables";
@import "header";
@import "footer";

@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/font/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'MyCustomFont', sans-serif !important;
    font-family: "Quicksand", sans-serif !important;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: $bg !important;
}

a {
    text-decoration: none !important;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

.load-content {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
        color: #F6BD40;
        font-size: 4.8rem;
        font-family: 'MyCustomFont', sans-serif !important;
    }
}

.banner {
    min-height: 100vh;
    padding: 20rem 0 2rem;
    position: relative;

    &__title {
        text-align: center;

        h1 {
            color: #fff;
            font-size: 8rem;
            font-weight: 400;
            margin: 0;
            font-family: 'MyCustomFont', sans-serif !important;
            position: relative;
            opacity: 1;
            transform: translateY(0);


            span {
                color: #F7C41F;
            }
        }
    }

    &__download {
        margin: 2rem 0;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            gap: 2.4rem;

            li {
                list-style-type: none;
            }
        }
    }

    &__line {
        color: #232323;
        font-size: 2rem;
    }

    &__join {
        background-color: #000;
        border-radius: 10rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        a {
            background-color: #1065EC;
            border-radius: 10rem;
            font-size: 1.6rem;
            display: block;
            padding: 0.8rem 2.4rem;
            font-weight: 600;
            color: #fff;
        }

        span {
            color: #FDF9F0;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    &__left {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &__right {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0 0;
    }
}

.workflow {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        text-align: center;

        span {
            color: #444342;
            font-size: 2.4rem;
            font-weight: 500;
            display: block;
            text-align: center;
        }

        h2 {
            color: #181927;
            font-size: 5rem;
            font-weight: 900;
            font-family: 'MyCustomFont', sans-serif !important;
            margin: 2.4rem 0;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            width: 8.6rem;
            height: 8.6rem;
        }
    }
}

.about {
    padding: 6rem 0;
    background-color: #fff;

    &__title {
        span {
            color: #6F6F6F;
            font-size: 2.4rem;
            font-weight: 700;
            display: block;
            margin: 0 0 2.4rem;
        }

        h2 {
            color: #181927;
            font-size: 4rem;
            margin: 0;
            font-family: 'MyCustomFont', sans-serif !important;
            text-align: center;
        }
    }

    &__bg {
        background-image: url(../assets/img/about.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 77rem;
    }

    &__content {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        span {
            color: #181927;
            font-size: 2rem;
            font-weight: 500;
            display: block;
            margin: 0 0 2.4rem;
        }

        h3 {
            color: #181927;
            font-size: 4rem;
            margin: 0 0 1.6rem;
            font-family: 'MyCustomFont', sans-serif !important;
        }
    }
}

.banner__img {
    flex: 0 0 auto;
    opacity: 1 !important;
    transform: translateY(-200px);

}

.workflow__content {
    opacity: 0;
    transform: translateY(50px);
}